doctype html
html
	head
		title= title
		<script src="/javascripts/jquery/jquery.min.js"></script>
		<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-theme.css"/>
		<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css"/>
	body
		include header
		div.container
			div.jumbotron
				h1 WebMind <small>随时随地、所思所想</small>
			block content

